.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.playground {
  display: flex;
  justify-content: flex-start;
}

#runBtn {
  padding: 4px 8px;
  width: 120px;
  font-size: 16px;
  font-weight: 400;
  align-self: center;
  color: white;
  background-color: green;
}

@media only screen and (max-width: 1300px) {
  .playground {
    display: block;
  }
}